</html>
<head>
    <title>Block de Notas</title>
    <link rel="stylesheet" href="./index.css">
</head>


<body>
    <div class="navs">
        <div id="navegador">
            <ul>
                <li class="logo"><a href="./">Notas</a></li>
            </ul>
        </div>
    </div>

    <form action="/subido" method="post">
        <label for="">titulo</label>
        <input type="text" name="titulo" required><br>

        <label for="">descripción</label>
        <input type="text" name="descripcion" required><br>

        <label for="">tag</label>
        <input type="text" name="tags"> <br>

        <button type="submit">NUEVO</button>
    </form>
</body>
</html>