<html>
<head>
    <link rel="stylesheet" href="../index.css">
</head>
    
<body>
    <div class="navs">
        <div id="navegador">
            <ul>
                <li class="logo"><a href="/">Notas</a></li>
            </ul>
        </div>
    </div>
    <h1> <%= nota.titulo  %></h1>
    <h1> <%= nota.descripcion  %></h1>
</body>
</html>