<html>
<head>
    <title>Subido</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <%  if(estado == "cargado"){ %>
        <h1>Nota Cargada</h1>
    <% } %>

    <%  if(estado == "borrado"){ %>
        <h1>Nota Borrada</h1>
    <% } %>
    
    <form action="/" method="get">
        <button type="submit">Volver A La Pagina Principal</button>
    </form>
</body>
</html>

